.jumbotron {
  margin: auto;
  max-width: 300px;
  max-height: 450px;
  border: 3px solid black;
  border-radius: 10px;
}

.time-display h1 {
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
  color: red;
  font-size: 50px;
}

.time-control {
  padding: 20px;
 
}

.time-control button {
  width: 30px;
  height: 30px;
  font-size: 20px;
  line-height: 0px;
  border: none;
}
.start-stop button{
  margin: 10px;
}